*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.color-orange{
    color: #FD6E0A;
}
.logo{
    font-size: 45px;
    font-weight: 900;
}
.btn{
    background-color: #FD6E0A;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 18px 36px;
    font-size: 20px;
    font-weight: bold;
}

/* main style */
header{
    background-color: #FFF8F3;
    padding-top: 51px;
}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items:center;

}
nav .menu ul{
    display: flex;
    gap: 51px;
    align-items: center;
    list-style-type: none;
}
nav .menu a{
    font-size: 20px;
    text-decoration: none;
    color: #474747;
}