*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.color-orange{
    color: #FD6E0A;
}
.logo{
    font-size: 45px;
    font-weight: 900;
}
.btn{
    background-color: #FD6E0A;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 18px 36px;
    font-size: 20px;
    font-weight: bold;
}
.btn:hover{
    cursor: pointer;
}
#about .about-container .section-heading h2{
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;
}
#about .about-container .section-heading p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}

/* main style */
header{
    /* background-color: #FFF8F3; */
    background: url("../images/developer.png"), url('../images/header_bg.png'), #FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 51px;
}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items:center;

}
nav .menu ul{
    display: flex;
    gap: 51px;
    align-items: center;
    list-style-type: none;
}
nav .menu a{
    font-size: 20px;
    text-decoration: none;
    color: #474747;
}
#banner{
    /* border: 1px solid black; */
    margin: 46px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#banner .banner-content{
    max-width: 585px;
    max-height: 356px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-image img{
    max-width: 584px;
    max-height: 676px;
    vertical-align: middle;
}
#about{
    padding-top: 130px;
}
#about .about-container{
    /* width: 71%; */
    max-width: 1140px;
    max-height: 550px;
    margin: 0 auto;
    background-color: #FFF8F3;
    text-align: center;
    padding: 131px 156px;
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
#about .about-container .about-info .info-card p{
    color: #757575;
    font-size: 20px;
    line-height: 30px;
}
#about .about-container .about-info .info-card h4{
    color: #474747;
    font-size: 20px;
    line-height: 30px;
}